{% extends 'base.html' %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<h1 class="main-heading">Add a New Movie</h1>
<div id="containerAdd">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}  
        <label id="texti" for="title">Title:</label>
        <input type="text" name="title" id="title" list="suggestions" required placeholder="Search movies..."><br>
        <datalist id="suggestions"></datalist>
        <button class="submitButton" type="submit">Add Movie</button>
    </form>
</div>
<script>
    document.getElementById('title').addEventListener('input', function() {
        var query = this.value;
        if (query.length > 2) {
            axios.get('{% url "user:movie_autocomplete" %}', {
                params: {
                    query: query
                }
            })
            .then(function(response) {
                let suggestions = document.getElementById('suggestions');
                suggestions.innerHTML = '';
                response.data.forEach(title => {
                    let option = document.createElement('option');
                    option.value = title;
                    suggestions.appendChild(option);
                });
            })
            .catch(function(error) {
                console.error('Error:', error);
            });
        }
    });
</script>

{% endblock %}
