{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
  />
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    {% block stylesheets %}{% endblock stylesheets %}
    {% block title %}<title>Upcoming Shows</title>{% endblock %}
</head>
<body>
    <header>
        <div class="logo">Movie Screen</div>
        <nav>
            {% if request.user.is_authenticated %}
            {% if request.user.is_staff %}
            <a class="nav-item nav-link " href="{% url 'user:add_movie' %}">Add Movie</a>
            <a class="nav-item nav-link " href="{% url 'user:AddShowView' %}">Add Show</a>
            {% endif %}
            <a class="nav-item nav-link" href="{% url 'user:shows' %}">Shows</a>
            <a class="nav-item nav-link" href="{% url 'user:movie_list' %}">Movie List</a>
            <a class="nav-item nav-link" href="{% url 'user:logout' %}">Logout</a>
            {% else %}
            <a class="nav-item nav-link" href="{% url 'user:login' %}">Login</a>
            <a class="nav-item nav-link" href="{% url 'user:sign_up' %}">Sign Up</a>
            
            {% endif %}
        </nav>
    </header>

    {% block content %}
    {% endblock %}
</body>
{% block script-block %}{% endblock script-block %}
</html>