{% extends 'base.html' %}
{% load static %} 
{% block stylesheets %} 
<link
rel="stylesheet" href="{% static "movie_list.css" %}"> 
{% endblock stylesheets%} 
{% load star_rating %} 
{% block content %}
<div class="container">
  <h1 class="main-heading">Movie List</h1>
  <ul class="movie-list">
    {% for movie in movies %}
    <li>
      <div class="movie-poster">
        <a href="{% url 'user:movie_details' %}?imdb_id={{movie.imdb_id}}">
          <img
            class="click-poster"
            src="{{ movie.poster.url }}"
            width="200px"
            alt="{{ movie.title }} poster"
          />
        </a>
      </div>
      <div class="movie-info">
        <h3 id="textTitle">{{ movie.title }}</h3>
        <hr />
        <h4 class='discription'>{{ movie.description }}</h4>
        <div>
          <h4>IMDb Rating:</h4>
          <span class="stars">{{ movie.imdb_rating|fa_star_rating|safe }}</span>
        </div>

        <div>
          <h4>Critic Rating:</h4>
          <span class="stars"
            >{{ movie.critic_rating|fa_star_rating|safe }}</span
          >
        </div>
        <div>
          <h4>Average User Rating:</h4>
          <div class="stars">
            {{ movie.user_rating|fa_star_rating|safe }} {{ movie.rating_count}}
          </div>
        </div>
        <div>
          <h4>Submit Rating:</h4>
          <div class="movie" data-movie-id="{{ movie.id }}">
            <form
              method="POST"
              action="{% url 'user:submit_rating' movie.id %}"
              class="rating-form"
            >
              {% csrf_token %}
              <div class="user-rating" style="display: flex; cursor: pointer">
                <i class="far fa-star" data-value="1"></i>
                <i class="far fa-star" data-value="2"></i>
                <i class="far fa-star" data-value="3"></i>
                <i class="far fa-star" data-value="4"></i>
                <i class="far fa-star" data-value="5"></i>
              </div>
              <input
                type="hidden"
                name="user_rating"
                id="user_rating_{{ movie.id }}"
                value="0"
              />
              <button type="submit">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </li>
    {% empty %}
    <li>No movies available.</li>
    {% endfor %}
  </ul>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const movieContainers = document.querySelectorAll(".movie");

      movieContainers.forEach((container) => {
        const stars = container.querySelectorAll(".user-rating i");
        const hiddenInput = container.querySelector(
          'input[name="user_rating"]'
        );

        stars.forEach((star, index) => {
          star.addEventListener("click", () => {
            // Update the user rating
            stars.forEach((s, i) => {
              if (i <= index) {
                s.classList.add("fas"); // Filled star
                s.classList.remove("far");
              } else {
                s.classList.remove("fas");
                s.classList.add("far"); // Empty star
              }
            });

            // Set the hidden input value to the rating
            hiddenInput.value = index + 1; // Set the rating based on index
          });
        });
      });
    });
  </script>
</div>

{% endblock %}
