{% extends 'base.html' %}

{% block content %}
<head>
    <title>Shows List</title>
</head>
<body>
    <h1>Show List</h1>
    <ul>
        {% for show in shows %}
            <div style="padding: 10px;">
                <li id="textTitle">{{ show.movie.title }}</li> 
                <li>{{ show.time }}</li> 
                <a href="{% url "user:about_movie" %}?movie_name={{ show.movie.title }}">
                    <img src="{{ show.movie.poster.url }}" width="200px" alt="{{ show.movie.title }} poster">
                </a>
                <!-- Add the 'Book Ticket' link for each show -->
                <li><a href="{% url 'user:book_ticket' show.id %}">Book Ticket</a></li>
            </div>
        {% empty %}
            <li>No shows available.</li>
        {% endfor %}
    </ul>
</body>
{% endblock %}
