{% extends 'base.html' %}

{% block content %}
<head>
    <title>Shows List</title>
</head>
<body>
    <h1>Show List</h1>
    <ul>
        {% for show in shows %}
            <div style="padding: 10px;">
                <li>{{ show.movie.title }}</li> 
                <li>{{ show.time }}</li> 
                <li><img src="{{ show.movie.poster.url }}" width="100" alt="{{ show.movie.title }} poster"></li> 
            </div>
        {% empty %}
            <li>No shows available.</li>
        {% endfor %}
    </ul>
</body>
{% endblock %}
