/* styles.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #c0bebe78;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #333;
  padding: 1rem 0;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
  transition: color 0.3s;
}

nav a:hover {
  color: #ccc;
}

.container {
  max-width: 1200px;
  margin-left: 50px auto;
  padding: 2rem;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-left: 40px;
  color:#333
}
#containerAdd{
margin-left: 25px;
margin-top: 10px;
max-width: 1200px;
padding: 10px 10px 10px 10px ;
display: flex;
}

#texti{
font-size: medium;
font-weight: 500;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#title{
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
}
#descriptionTexti{
font-size: medium;
font-weight: 500;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#description{
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
}
#poster{
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
}
#available{
padding: 12px 20px;
margin: 8px 0;
}
h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.submitButton{
background-color:#333;
border: none;
color: white;
padding: 16px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
transition-duration: 0.4s;
cursor: pointer;
}

.submitButton:hover {
background-color: #c0bebe78;
color: rgb(9, 9, 9);
}
li{
font-size: medium;
font-family: Arial, Helvetica, sans-serif;
}
img {
border: 1px solid #ddd;
border-radius: 4px;
padding: 5px;
width: 250px;
height: 200px;
}
img:hover {
box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
#textTitle{
font-size: larger;
font-weight: bold;
font-family: 'Times New Roman', Times, serif;
list-style-type: square;
}
p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}


.seat-map {
    display: flex;
    flex-direction: column;
  }
  
  .seat-row {
    display: flex;
    justify-content: center;
  }
  
  .seat {
    display: inline-block;
    padding: 5px;
    margin: 2px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
  }
  
  .booked {
    background-color: #ccc;
  }
  
  .empty-seat {
    display: inline-block;
    padding: 5px;
    margin: 2px;
    border: 1px solid #a81e1e;
    border-radius: 3px;
    background-color: #f4ad12;
  }
  .profile-page {
    margin: 0 auto;
    width: 500px;
    min-height: 100vh;
    background-color: #fff;
    padding: 20px;
  }
  
  .profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .profile-info {
    margin-top: 20px;
  }
  
  .profile-name {
    font-size: 20px;
    font-weight: bold;
  }
  
  .profile-email {
    font-size: 16px;
  }
  
  .profile-bio {
    font-size: 14px;
    line-height: 1.5;
  }
  
  .booked-shows {
    margin-top: 20px;
  }
  
  .booked-show {
    margin-bottom: 10px;
  }
  
  .booked-show-title {
    font-size: 18px;
    font-weight: bold;
  }
  
  .booked-show-date {
    font-size: 16px;
  }
  
  .booked-show-time {
    font-size: 14px;
  }

  .stars  {
    color: gold;
    font-size: 24px;
    margin-right: 2px; 
  }
